@model  List<string>
@{
    ViewBag.Title = "reservation";
    Layout = "~/Areas/users/Views/Shared/layout.cshtml";
    string lange = Session["usersPageLang"].ToString();
}
@if(Model[4]=="false")
{
   <div class="alert alert-danger text-center">@Resource1.haveBookingAlready</div> 
}
else
{
    <section class="reservationDone">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="notify">
                    <img src="~/images/resrevDone.png" class="img-responsive" />
                    <p><i class="glyphicon glyphicon-ok-sign fa-2x"></i> @Resource1.bookingAppointDone</p>
                    <p>
                        <i class="fa fa-envelope-o"></i> 
                        @Resource1.doctorInformedWithBook
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="reserveDetails">
                    <h3><i class="fa fa-calendar-o"></i> @Resource1.bookingDetails</h3>
                    <table>
                        <tr>
                            <td>@Resource1.patientName</td>
                            <td>@Model[0]</td>
                        </tr>
                        <tr>
                            <td>@Resource1.bookingDate</td>
                            <td>@Model[2] @Model[3]</td>
                        </tr>
                        <tr>
                            <td>@Resource1.clinicAddress</td>
                            <td>@Model[1]</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
}


